//  normalize reset

@import 'reset';
@import 'fonts';

//  sass variables

$body-font: 'Avenir-Medium', Arial,Helvetica Neue,Helvetica,sans-serif;  //  body font
$header-font: 'Avenir-Heavy', Arial,Helvetica Neue,Helvetica,sans-serif;  //  header font
$body-font-size: 16px;  //  body font size
$pc: #000000;  //  primary color
$sc: #666666;  //  secondary color
$bc: #ffffff;  //  background color
$mw: 960px;  //  max width

//  base

body{
    font-family: $body-font;
    font-size: $body-font-size;
    color: $pc;
    line-height: 1.4em;
    background: $bc;
}

p{ margin-top: 0; padding-top: 0; }

//  Links

a:link { text-decoration: none; color: $sc; }
a:active { text-decoration: none; color: $sc; }
a:visited { text-decoration: none; color: $sc; }
a:hover { text-decoration: none; color: $pc; }
a img { border: none; }

///  media queries

@media all and (max-width: $mw) {

}
